<!DOCTYPE HTML>
<html lang="ja" ng-app>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
  </head>
  <body ng-controller="CartController">
    <h1>ご注文内容</h1>
    <div ng-repeat="item in items">
      <span>{{item.title}}</span>
      <input ng-model="item.quantity">
      <span>{{item.price|currency}}</span>
      <span>{{item.price*item.quantity|currency}}</span>
      <button ng-click="remove($index)">削除</button>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>

    <script>
    function CartController($scope){
      $scope.items=[
      {title:'ペイントポット',quantity:8,price:3.95},
      {title:'ポルカドッド',quantity:17,price:12.95},
      {title:'ペブル',quantity:6,price:5.95}
      ];
      $scope.remove=function(index){
        $scope.items.splice(index,1);
      }
    }
  </script>
 </body>
</html>